body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
header {
    min-height: 50px;
    width: 100vw;
}
footer {
    min-height: 50px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.searchbuttons {
    padding: 10px;
    
}

.gheader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.gfooter {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0px 10px;
}